header{
    position: fixed;
    height: 40px;
    width: 100%;
    color: white;
    line-height: 40px;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
#Logo{    
    float: left;
    margin-left: 30px;
}
.menu{
    float: right;
}
.menu li {
    float: left;
}
.menu a{    
    padding: 0 15px;
    color: white;
}
header.event{
    background-color: #9EDDD0;
    box-shadow: 0px 3px 10px #EBE5E4
}